@tailwind base;
@tailwind components;
@tailwind utilities;

/* app root */
main{
    @apply p-0 
            m-0
            bg-white 
            border-gray-200 
            dark:bg-gray-800 
            dark:border-gray-700
            w-full 
            h-full 
            ;
} 


/*Nav Bar */
.nav-bar {
    @apply  absolute 
            top-0 
            left-0 
            flex 
            justify-between 
            items-center 
            gap-4
            w-full
            lg:px-10
            lg:py-8  
            md:py-6
            md:px-8
            py-4
            px-6
            z-50 
            bg-transparent;
}


.nav-bar nav a {
    @apply
            lg:text-xl
            md:text-lg 
            text-xs 
            hover:text-teal-100 
            text-teal-300
            transition 
            duration-300 
            ease-in-out 
            transform 
            hover:scale-105 
            font-semibold;
}

.nav-bar nav {
    @apply flex 
            justify-between 
            items-center 
            gap-4;
}

.nav-logo{
    @apply text-3xl 
            font-bold 
            text-white 
            w-8
            lg:w-14
            md:w-10;
}


/* home */
.home {
    @apply bg-white 
    border-gray-200 
    dark:bg-gray-800 
    dark:border-gray-700
            box-content 
            h-full 
            w-full
            gap-4
            ;
}



/* hero section */
.hero-section {
    @apply flex 
            justify-center 
            items-center 
            w-full 
            h-1/3 
            lg:h-screen 
            relative 
            lg:p-6
            md:p-4
            p-2
            ;
}

.hero-image{
    @apply lg:w-full 
            lg:h-full 
            w-auto
            object-cover 
            bg-cover 
            md:rounded-lg 
            rounded-2xl
            ;
}

.hero-content {
    @apply absolute 
            bottom-0 
            left-0 
            flex 
            flex-col 
            justify-center 
            items-start 
            lg:p-10 
            p-6  
            bg-opacity-50 
            text-white ;
}

.hero-content a{
    @apply w-auto 
            h-auto 
            border-none 
            bg-transparent 
            bg-slate-300 
            bg-opacity-30 
            hover:bg-opacity-40 
            backdrop-blur-md px-2 
            py-1 
            rounded-full 
            text-white 
            lg:text-lg 
            text-[0.5rem] 
            font-bold
            transition 
            duration-300 
            ease-in-out 
            transform 
            hover:scale-105
            ;
}

.hero-content h3{

    @apply lg:text-2xl 
            text-sm  
            font-bold 
            lg:my-4 
            my-1 
            ml-2;
}

.hero-content small{
    @apply text-[0.4rem] 
            md:text-sm
            lg:text-lg 
            font-bold 
            ml-2;
}


/* categories list */

.category-menu{
    @apply 
    flex
    justify-center
    items-center
    ;
}

.category-list{
    @apply  flex
            lg:gap-20
            md:gap-10
            gap-4
            justify-center
            items-center
            p-2
            ;
}

.category-list a {
    @apply  transition 
            duration-300 
            ease-in-out 
            transform 
            hover:scale-105 
            hover:text-teal-300 
            text-teal-500
            lg:text-2xl 
            md:text-xl
            text-xs
            font-bold
            ;
} 

/* post list from post card */

.post-list{
    @apply flex 
    flex-col
    justify-center 
    items-center
    lg:py-4 
    lg:px-12
    md:px-10
    p-4
    gap-4;
}

@media (min-width: 640px) {
    .post-list {
        @apply grid grid-cols-1 gap-2;
    }
}

@media (min-width: 768px) {
    .post-list {
        @apply grid grid-cols-2 gap-4;
    }
}

@media (min-width: 1024px) {
    .post-list {
        @apply grid grid-cols-3 gap-6;
    }
}

.postList-heading{
    @apply 
    lg:px-12
    md:px-10
    px-6
    py-2
    ;
}

.postList-heading h2{
    @apply text-white
    lg:text-2xl
    md:text-lg
    text-sm
    ; 
}


/* post card */

.post-card {
    @apply  lg:h-80
            w-full
            h-auto
            border
            rounded-lg
            shadow-sm
            bg-white 
            border-gray-200 
            dark:bg-gray-800 
            dark:border-gray-700
            p-2
            ;
}


.postList-image {
    @apply rounded-t-lg
            lg:w-full
            lg:h-2/4
            md:w-auto
            md:h-72
            min-w-full
            h-fit
            object-cover
            ;
}

.post-header {
    @apply  
            lg:text-lg
            md:text-xl
            sm:text-sm 
            font-bold 
            tracking-tight 
            text-gray-900 
            dark:text-white;
}

.post-description {
    @apply
            font-normal 
            text-gray-700 
            dark:text-gray-300
            lg:text-base
            md:text-sm
            sm:text-xs
            px-4 
            overflow-hidden
            text-ellipsis
            whitespace-nowrap;
}

/* Read more button */

.read-more {
    @apply 
            text-lg 
            flex 
            justify-end 
            my-2;
}

.read-more a {
    @apply inline-flex 
            items-center 
            px-3 
            py-2 
            text-sm 
            font-medium 
            text-center 
            text-white 
            bg-teal-500 
            rounded-lg 
            hover:bg-teal-300 
            focus:ring-4 
            focus:outline-none 
            focus:ring-teal-300 
            dark:bg-teal-600 
            dark:hover:bg-teal-400 
            dark:focus:ring-teal-800
            transition 
            duration-300 
            ease-in-out 
            transform
            hover:scale-105  
            ;
}

/* post detail */
.arrow-svg {
    @apply -rotate-180 
    w-6 
    h-4 
    ms-4 
    mt-4
    text-gray-900
    dark:text-gray-100 
    hover:text-gray-400
    dark:hover:text-gray-600;
}

.post-detail {
    @apply bg-white 
    border-gray-200 
    dark:bg-gray-800 
    dark:border-gray-700
            w-auto  
            min-h-screen
            lg:px-20
            lg:py-8
            px-8
            py-4
            ;
}

.post-image {
    @apply  w-full 
            h-full 
            rounded-lg 
            shadow-lg 
            object-cover;
}

.post-detail h2 {
    @apply  flex 
            items-center 
            justify-start 
            text-purple-600 
            lg:text-3xl 
            text-lg 
            font-semibold;
}


.post-detail small{
    @apply lg:text-sm 
            text-xs 
            text-gray-400 
            my-auto 
            block 
            mb-4;
}

.post-detail p {
    @apply lg:text-xl 
            md:text-base
            text-sm
            py-4
            text-justify 
            indent-10 
            leading-7 
            text-gray-700 
            dark:text-gray-300;
}

.btn {
    @apply items-start
    border-gray-200 
    dark:bg-gray-800 
    dark:border-gray-700
    p-2
;
}

.btn button{
    @apply text-white;
}

/* category detail page */

.category-detail{
    @apply bg-white 
    border-gray-200 
    dark:bg-gray-800 
    dark:border-gray-700
            w-full
            min-h-screen
            ;  
}

.category-detail h2{
    @apply 
    flex
    text-teal-200
    text-2xl
    mb-8
    justify-center;
}

/* not found page */

.not-found {
    @apply flex 
    flex-col 
    items-center 
    justify-center 
    min-h-screen 
    bg-white 
    border-gray-200 
    dark:bg-gray-800 
    dark:border-gray-700;
}

.not-found h1{
    @apply text-5xl 
    font-bold 
    text-gray-800
    dark:text-gray-200
    ;
}

.not-found p{
    @apply text-lg
    dark:text-gray-200 
    text-gray-600 
    mt-2;
}

.not-found a{
    @apply mt-4 px-4 py-2 
    bg-teal-500 
    text-white 
    rounded-lg 
    hover:bg-teal-400
    transition 
    duration-300 
    ease-in-out 
    transform
    hover:scale-105  
    ;
}